@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200;400;500&family=Press+Start+2P&display=swap');

body {
    font-family: 'Anek Telugu', sans-serif;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

#wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.pokemon-card {
    display: flex;
    width: 300px;
    border: 1px black solid;
    margin: 10px;
    border-radius: 5px;
}

.content-left {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.pokemon-img {
    margin: 10px;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 50%;
}

.pokemon-id {
    background-color: rgba(169, 169, 169, 0.5);
    width: 50px;
    text-align: center;

    border-radius: 5px;
}

.pokemon-name {
    text-transform: capitalize;
}

.pokemon-type {
    text-transform: capitalize;
}