@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200;400;500&family=Press+Start+2P&display=swap');

body {
    font-family: 'Anek Telugu', sans-serif;
    background-color: #0a3d62;
    color: white;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #e58e26;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

#wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.pokemon-card {
    display: flex;
    width: 300px;
    border: 1px #60a3bc solid;
    margin: 10px;
    border-radius: 5px;
}

.pokemon-card.hide {
    display: none;
}

.content-left {
    display: flex;
    background-color: #f6b93b;
    flex-direction: column;
    align-items: center;
}

.content-right {
    width: 100%;
    background-color: #3c6382;
    color: white;
    padding-left: 20px;
}

.pokemon-img {
    margin: 10px;
    background-color: #fad390;
    border-radius: 50%;
}

.pokemon-id {
    background-color:#3c63828b;
    width: 50px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}

.pokemon-name {
    text-transform: capitalize;
}

.pokemon-type {
    text-transform: capitalize;
}